<article v-if="service.states.view === `tests`">
    <div class="h1 title flex-vcenter">Tests
        <span class="subtitle">
            <button @click="testService.runTests()">Run all</button>
        </span>
    </div>
    <div id="test-results">
        <div v-for="(type, typeName) in testService.tests" :key="typeName">
            <div class="test-group" v-for="(group, groupName) in type" :key="groupName">
                <div class="test-group-header">
                    <button class="spin-if-running" @click="testService.runTestGroup(group, typeName); testService.shownTestsState = groupName" :class="{running: testService.isTestRunning(groupName), disabled: testService.testResults.testsAreRunning}">
                        <span>&#9658;</span>
                    </button>
                    <div class="h3" @click="showHideTest(groupName)" :class="{open :testService.shownTestsState === groupName, groupPass: testsPassed(groupName), groupFailed: testsPassed(groupName) === false}">{{groupName}}</div>
                </div>
                <div v-show="testService.shownTestsState === groupName" class="test-items">
                    <div v-for="method in notCoveredMethods(group)" class="untested"><b>Untested:</b> {{method.name}}</div>
                    <test-item v-for="(test, testKey) in group.tests" :key="testKey" :testKey="testKey" :testGroup="groupName" :testType="typeName"></test-item>
                </div>
            </div>
        </div>
    </div>
</article>