<section v-if="tests">
    <div class="h2" @click="service.states.tests = !service.states.tests" :class="service.states.tests ? 'active' : ''">Tests</div>
    <div v-show="service.states.tests">
        <div style="margin: 7px 0px;">
            <button @click="testService.runTestGroup(tests)" :class="{disabled:testService.testResults.testsAreRunning}">&#9658; Run all</button>
        </div>
        <div v-for="(test, testKey) in tests.tests" :key="testKey">
            <test-item :testKey="testKey" :testGroup="groupName"></test-item>
        </div>
    </div>
</section>