<table v-show="show" class="documentation-table">
    <thead>
        <tr>
            <th v-for="(column, key) in properties.columns" :key="key">{{column.label}}</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(prop, key) in properties.data" :key="key">
            <td v-for="(column, columnKey) in properties.columns" :key="columnKey" :class="column.label">
                <div v-if="column.key === 'value'">
                    <value-input :model="prop"></value-input>
                </div>
                <div v-if="column.key !== 'value'">
                    <json-viewer v-if="prop[column.key] && typeof prop[column.key] !== 'string'" :json="service.formatReturn(prop[column.key])"></json-viewer>
                    <div v-if="prop[column.key] && typeof prop[column.key] === 'string'">{{prop[column.key]}}</div>
                </div>
            </td>
        </tr>
    </tbody>
</table>