#test-results {
    .test-group-header {
        display: flex;
        width: 100%;
    }
    .h3 {
        margin: 0px;
        background: #234764;
        color: #fff;
        padding: 7px;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:before {
            content: "";
            border: 5px solid transparent;
            border-left-color: #fff;
            height: 0px;
            width: 0px;
            display: inline-block;
        }
        &.open:before {
            border: 5px solid transparent;
            border-top-color: #fff;
            position: relative;
            left: -2px;
            top: 2px;
        }
        &.groupPass {
            color: #76b900
        }
        &.groupFailed {
            color: #a10005;
        }
    }
    .test-item {
        font-size: 12px;
        padding-left: 7px;
        display: flex;
        align-items: center;
        background: rgba(35, 71, 100, 0.21);
        padding: 7px;
    }
    .test-item em {
        margin-left: 7px;
    }
    .test-item b {
        margin-right: 7px;
    }
    .test-item b,
    .test-item span {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .test-item b span {
        font-size: 35px;
        margin-right: 7px;
        line-height: 21px;
    }
    .test-item.pass em,
    .test-item.pass b span {
        color: #76b900;
    }
    .test-item.fail em,
    .test-item.fail b span {
        color: #a10005;
    }
    .test-group {
        margin: 7px 0px;
    }
}