<div>
    <div class="test-item" :class="{pass: testService.hasTestPassed(testGroup, test.name), fail: testService.hasTestPassed(testGroup, test.name) === false}">
        <button @click="testService.runTest(test, testGroup)" class="spin-if-running" :class="{running: testService.isTestRunning(testGroup, test.name), disabled: testService.testResults.testsAreRunning}">
            <span>
                <span>&#9658;</span>
            </span>
        </button>
        <b>{{test.name}}</b>
        <span class="test-item-result" v-if="testService.hasTestRan(testGroup, test.name)">{{testService.hasTestPassed(testGroup, test.name) ? ': pass' : testService.hasTestPassed(testGroup, test.name)
            === false ? ': fail' : ':'}}</span>
    </div>
    <div class="test-asserts">
        <div class="test-assert" v-for="assert in testService.hasTestAsserts(testGroup, test.name)"><span><b>{{assert.pass}}: </b><span>{{assert.key}}</span><span>({{assert.message}})</span></span></div>
    </div>
</div>>